
<h1>Tabajo de practica en platzi</h1>

<P>
    estamos tratando de profundizar em lo que es el uso de git
    los cual les super util para trabajar en grupo que es a lo que estoy apuntando en este momento <br>
    pero se esta poniendo pesao


</P>

  <div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Practica 1</div>
                    <p>vay a dale duro a este boostrap</p>
                    <div class="button btn-primary">Guardar</div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Practica 2</div>
                    <p>vay a dale duro a este boostrap</p>
                    <div class="button btn-primary">Guardar</div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Practica 3</div>
                    <p>comming soon!!</p>
                    <img src="https://i.blogs.es/42dd8b/street-fighter-6-ps5-ps4-xbox-pc-sf6/1366_2000.jpeg" class="card-img-top" width="200px" alt="SF5">
                    <div class="button btn-primary">Guardar</div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Practica 3</div>
                    <p>comming soon!!</p>
                    <img src="https://sm.ign.com/ign_es/news/s/street-fig/street-fighter-6-reveals-its-full-launch-roster_uuwr.jpg" class="card-img-top" width="200px" alt="SF5">
                    <div class="button btn-primary">Guardar</div>
                </div>
            </div>
        </div>

    </div>
  </div>